In [72]:
import pandas as pd
import numpy as np

In [73]:
df = pd.read_csv("/content/Taper Sheet - Sheet1.csv")

In [74]:
df.head()

    d    D      B       XX Designation     e    Y       C
0  60   95  23.00   76 500     32012 X  0.43  1.4   76500
1  60   95  27.00   85 800       33012  0.33  1.8   85800
2  60  100  30.00  110 000       33112  0.40  1.5  110000
3  60  110  23.75   91 300       30212  0.40  1.5   91300
4  60  110  29.75  119 000       32212  0.40  1.5  119000

In [75]:
def help(df, X):
    # Find the first row where C > X
    filtered_df = df[df['C'] > X]
    if not filtered_df.empty:
        # Get the values of C and Designation for the first row
        row = filtered_df.iloc[0]
        return row['C'], row['Designation']

In [76]:
def solver():
  print("Selection Of Taper Roller Bearing")
  fr = int(input("Enter radial thrust :"))
  fa = int(input("Enter axial thrust :"))
  l = int(input("Enter total length of shaft :"))
  x = int(input("Enter radial thrust distance from pt A:"))
  Y = float(input("Assume Average value of Y from chart : "))
  n = int(input("Enter Number of rev (rpm) : "))
  L10h = int(input("Enter expected life of bearing (L10h) : "))
  
  
  fra  = (fr * (l-x))/l
  frb  = (fr * (x))/l
  if fra < frb and fa > 0:
    FaB = (0.5 * frb) / Y
    FaA = FaB + fa
    ratio = FaA/fra
    print("FaA / fra = ",ratio)
    e = float(input("Enter e from table : "))
    if ratio > e:
      P1 = 0.4 * fa + Y * FaA
    L10 = (60*n*L10h)/pow(10,6)
    C0 = P1 * pow((L10),0.3)
    print("Dynamic Load Carrying capacity bearing A is",C0)
    
    E,D = help(df,C0)
    print(f'The Dynamic Load Carrying capacity of bearing from the chart is {E}')
    print(f'It is observed that bearing No. {D} may be suitable ')
    #Final Check For Selection
    #At A
    Y1 = float(input("Value of Y from table : "))

    FaB = (0.5 * frb) / Y1
    FaA = FaB + fa
    ratio = FaA/fra
    P2 = 0.4 * fa + Y1 * FaA
    C1 = P2 * pow((L10),0.3)
    print("********************************************************************************************************")
    print("Check For Bearing A")
    print("Dynamic load carrying capacity of bearing A ",C1)
    if C0<E and C1 < E:
      print(f'Bearing no. {D} is selected at A')
    else:
      print("Bearing not suitable!")
    print("*********************************************************************************************************")
    # At B
    print("Check For Bearing B")


    FaB = (0.5 * frb) / Y
    FaA = FaB + fr
    ratio = FaA/fra
    P3 = frb 
    C2 = P3 * pow((L10),0.3)
    print("Dynamic load carrying capacity of Bearing B",C2)

    if C0<E and C2 < E:
      print(f'Bearing no. {D} is selected at A as well as at B')
    else:
      print("Bearing not suitable!")

In [77]:

solver()

Selection Of Taper Roller Bearing
Enter radial thrust :30000
Enter axial thrust :10000
Enter total length of shaft :300
Enter radial thrust distance from pt A:200
Assume Average value of Y from chart : 1.4
Enter Number of rev (rpm) : 300
Enter expected life of bearing (L10h) : 4000
FaA / fra =  1.7142857142857144
Enter e from table : 0.4
Dynamic Load Carrying capacity bearing A is 101008.46708780382
The Dynamic Load Carrying capacity of bearing from the chart is 110000
It is observed that bearing No. 33112 may be suitable
Value of Y from table : 1.5
********************************************************************************************************
Check For Bearing A
Dynamic load carrying capacity of bearing A  104615.91234093967
Bearing no. 33112 is selected at A
*********************************************************************************************************
Check For Bearing B
Dynamic load carrying capacity of Bearing B 72148.90506271702
Bearing no. 33112 is selected at A as well as at B

In [78]:
33
3

3